<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="/css/addUser.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <header>

        <a href="/index" class="logo">
            <img src="/images/logo.png" alt="Logo firmy">
        </a>

        <div class="menu-bar">
            <div class="menu-item">
              <a href="{{ path('app_stan') }}"> <button id="stanMagazynowyBtn">STAN MAGAZYNOWY</button> </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_sprzet') }}"> <button id="sprzetBtn">SPRZĘT</button> </a>
            </div>
            <div class="menu-item">
                <a href="{{ path('app_users') }}"> <button id="uzytkownicyBtn">UŻYTKOWNICY</button> </a>
            </div>
        </div>
        <button class="logout" id="logouserBtn"><img src="/images/logouser.png" alt="Ikona użytkownika"></button>
    </header>

    <main class="main-content">
        <h1>DODAJ UŻYTKOWNIKA</h1>
        <form class="form-content" method="POST">
            <div class="form-group">
                <label for="imieNazwisko">Imię nazwisko</label>
                <input type="text" id="imieNazwisko" name="imieNazwisko">
            </div>
            <div class="form-group">
                <label for="lokalizacja">Lokalizacja</label>
                <input type="text" id="lokalizacja" name="lokalizacja">
            </div>
            <div class="form-group">
                <label for="stanowisko">Stanowisko</label>
                <input type="text" id="stanowisko" name="stanowisko">
            </div>
            <div class="form-group">
                <label for="telefon">Telefon</label>
                <input type="text" id="telefon" name="telefon">
            </div>

            <button id="dodajBtn" type="submit">DODAJ</button>
        </form>
    </main>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <button>Puste</button>
            <button id="logoutBtn">Wyloguj się</button>
        </div>
    </div>

    {% for message in app.session.flashBag.get('success') %}
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Sukces',
                text: '{{ message }}',
                confirmButtonText: 'OK'
            });
        </script>
    {% endfor %}

    <script src="\js\navi.js"></script>
    <script src="\js\dodaj.js"></script>
    <script src="\js\script.js"></script>

</body>

</html>