<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strona główna</title>
  <link rel="stylesheet" href="\css\index.css">
  
</head>

<body>
  <header>
    <div class="logo">
      <a href="/index" class="logo">
        <img src="/images/logo.png" alt="Logo firmy">
      </a>
    </div>
    <div class="menu-bar">
      <div class="menu-item">
        <a href="{{ path('app_stan') }}"> <button id="stanMagazynowyBtn"> STAN MAGAZYNOWY</button> </a>
      </div>
      <div class="menu-item">
        <a href="{{ path('app_sprzet') }}">  <button id="sprzetBtn"> SPRZĘT</button> </a>
      </div>
      <div class="menu-item">
        <a href="{{ path('app_users') }}">  <button id="uzytkownicyBtn"> UŻYTKOWNICY</button> </a>
      </div>
    </div>


    <button class="logout" id="logouserBtn"><img src="logouser.png" alt="Ikona użytkownika"></button>
  </header>
  <div class="main-content">
    <div class="chart-container">
      <canvas id="myChart" width="400" height="400"></canvas>
      <canvas id="pieChart" width="400" height="400"></canvas>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <button>Puste</button>
        <button id="logoutBtn">Wyloguj się</button>
      </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="navi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/wykres.js"></script>



</body>


</html>

